{% if page.solutions_links %}
    {% if page.solutions_links.size > 1 %}
Solutions: 
<ul>
{% for solution in page.solutions_links %}
<li><a href="{{ solution.url }}">{{ solution.title }}</a> {% if solution.extra %}({{solution.extra}}){% endif %}{% if solution.details %}<br/> <p>{{solution.details}}</p> {% endif %} </li>
{% endfor %}
</ul>
    {% else %}
    {% assign solution = page.solutions_links[0] %}
<a href="{{ solution.url }}">{{ solution.title }}</a> {% if solution.details %}({{solution.details}}){% endif %}  {% if solution.extra %}({{solution.extra}}){% endif %}{% if solution.details %}<br/> <p>{{solution.details}}</p> {% endif %} 
    {% endif %}

{% endif %}