<div class=" attnNote">
    Thank you all for your feedback!<br /><br />I stated working on making this site dynamic.<br />Things that will be
    added: <ul>
        <li>the ability to publish your own solutions</li>
        <li>the ability to vote/downvote solutions</li>
        <li>the ability to comment on solutions</li>
    </ul><a href="https://github.com/RGgt/flutter-challenges/discussions/3" target="_blank">&gt;&gt; If you have
        additional ideas, let's debate them here. &lt;&lt;</a></div>
<hr />