
.fancy { 
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
    font-size: 15px; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #474747;
}

.spoiler { 
    font-size: 15px; font-weight: 400; line-height: 1.5; color: #474747;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: rgb(213, 230, 238); 
    border: none; 
}

#main-content-extra { float: left; width: 690px; }

#main-content-extra img { max-width: 100%; }

#main-content-extra h1.fancy { margin-top: 0; margin-bottom: 0; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; font-size: 2.8em; font-weight: normal; color: #474747; text-indent: 6px; letter-spacing: -1px;}


#main-content-extra h2.fancy { margin-bottom: 8px; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; font-size: 22px; font-weight: bold; color: #474747; text-indent: 4px; }


#main-content-extra h3.fancy { margin-top: 24px; margin-bottom: 8px; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; font-size: 18px; font-weight: bold; color: #474747; text-indent: 3px; }


#main-content-extra h4.fancy { margin-bottom: 8px; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; font-size: 15px; font-weight: bold; color: #474747; text-indent: 3px; }


#main-content-extra h5.fancy { margin-bottom: 8px; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; font-size: 14px; color: #474747; text-indent: 3px; }


#main-content-extra h6.fancy { margin-bottom: 8px; font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; font-size: .8em; color: #474747; text-indent: 3px; }

body{
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
}
#main-content-extra .centered {  text-align: center;}
#main-content-extra .bold{
    font-weight: bold;
}


/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) { .inner { width: 740px; } header h1, header h2 { width: 340px; } header h1 { font-size: 60px; } header h2 { font-size: 30px; } #main-content-extra { width: 490px; } #main-content-extra h1:before, #main-content-extra h2:before, #main-content-extra h3:before, #main-content-extra h4:before, #main-content-extra h5:before, #main-content-extra h6:before { padding-right: 0; margin-left: 0; content: none; } }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) { .inner { width: 93%; } header { padding: 20px 0; } header .inner { position: relative; } header h1, header h2 { width: 100%; } header h1 { font-size: 48px; } header h2 { font-size: 24px; } header a.button { position: relative; display: inline-block; width: auto; height: auto; padding: 5px 10px; margin-top: 15px; font-size: 13px; line-height: 1; color: #2879d0; text-align: center; background-color: #9ddcff; background-image: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; } header a.button small { display: inline; font-size: 13px; } #main-content-extra, aside#sidebar { float: none; width: 100% !important; } aside#sidebar { min-height: 0; padding: 20px 0; margin-top: 20px; background-image: none; border-top: solid 1px #ddd; } aside#sidebar a.button { display: none; } #main-content-extra h1:before, #main-content-extra h2:before, #main-content-extra h3:before, #main-content-extra h4:before, #main-content-extra h5:before, #main-content-extra h6:before { padding-right: 0; margin-left: 0; content: none; } }